/*Author: Alexandre Carle*/
/*Date: September 15 2022*/

html {
    background-image: url(./Doge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    color: rgb(12, 83, 175);
}
footer > h3:nth-child(2) {
    color: rgb(4, 119, 79);
}
p:nth-child(odd) {
    margin-top: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
p:nth-child(even) {
    margin-bottom: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}